.App {
  text-align: center;
  background-color: black;
}

main {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin-bottom: 50px
}

.Filter-button {
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
  background-color: red;
}

.Filter-button:hover {
  background-color: white;
  color: red;
}

#stocks-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  
}

.options {
  display: flex;
  flex-direction: row;
  width: 30%;
  justify-content: space-evenly;
}

.Filter {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

